       
     .dropdown-menu:hover{
        color: black;
      }
       
       
.el10{
  font-size: xx-large;
}
       
 .alert {  
   -webkit-text-stroke: 0.1px black;  
   background-color: #f44336;  
   color: white;  
   transition: 0.5s;   }
  
.closebtn {  
     margin-left: 15px;   
     color: white;  
     font-weight: bold;  
     float: right;  
     font-size: 30px;  
     line-height: 20px;  
     cursor: pointer;  
     transition: 0.2s;  
}
        
 .closebtn:hover{
     color: darkgray;
  }

.el6{
    color: white;
    margin-left: 37%;
    border: none;
    border-radius: 15px;
    font-size: 50px;
    outline: none;
    background: #3f3b3b;
    
}
.el6:hover{
    opacity: 80%;
}

a{
    text-decoration: none;
    color: inherit;
    outline: none;
}

.el9{
  font-size: 40px;
  margin-left: 130px;
} 


/* .overflow-scroll{
  width: 30%;
  height: 500px;
} */

.el3{
  display: inline;
  
}