       
       .alert {
         background-color: #f44336;
          color: white;
          transition: 0.5s;
        }
        .alert:hover{
            background-color: #2cb978;
            color: black;
        }
       
        .closebtn {
          margin-left: 15px; 
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.2s;
       }
        
        .closebtn:hover{
          color: green;
       }



       .col-md-5{
        
       }
