       
       .alert {
         background-color: #f44336;
          color: white;
          transition: 0.5s;
        }

       
        .closebtn {
          margin-left: 15px; 
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.2s;
       }
        
        .closebtn:hover{
          color: darkgray;
       }

.el6{
    color:#0e153a;
    margin-left: 37%;
    border: none;
    border-radius: 15px;
    font-size: 50px;
    outline: none;
    background: linear-gradient(to right, rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));
}
.el6:hover{
    opacity: 80%;
    color: black;
}

a{
    text-decoration: none;
    color: inherit;
    outline: none;
}
